@page
@using webappsql.Vendors;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PG's CLOUDHUB Academy. We offer below Vendor specific Certification Courses </h1>
    <h1 class="display-2">Hurry!! Discount offer valid through 31 Dec 2023 </h1>
    <table class="table table-bordered">
        <thead>

            <tr>
                <th scope="col"> VendorName</th>
                <th scope="col"> CourseID</th>
                <th scope="col"> CourseName</th>
                <th scope="col"> Price in USD</th>
                <th scope="col"> DiscountPercent</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model.course)
            {
                <tr>
                    <th scope="row">@course.VendorName</th>
                    <td scope="row">@course.CourseID</td>
                    <td scope="row">@course.CourseName</td>
                    <td scope="row">@course.Price</td>
                    <td scope="row">@course.DiscountPercent</td>
                    
                </tr>
            };
        </tbody>
    </table>
</div>


